<mat-toolbar>
    <div class="toolbar-container">
        <a class="logo-container" routerlink="/">
            <img class="logo" src="/assets/images/tmdb_top.svg" alt="The Movie Database Logo">
        </a>
        <a class="link-container">
            <a class="drop-button">Movies</a>
            <ul class="hover-links-container">
                <li><a routerLink="/movies">Movies</a></li>
            </ul>
        </a>
        <a class="link-container">
            <a class="drop-button">TV Shows</a>
            <ul class="hover-links-container">
                <li><a routerLink="/"></a></li>
            </ul>
        </a>
        <a class="link-container">
            <a class="drop-button">People</a>
            <ul class="hover-links-container">
                <li><a routerLink="/"></a></li>
            </ul>
        </a>
        <a class="link-container">
            <a class="drop-button">More</a>
            <ul class="hover-links-container">
                <li><a routerLink="/"></a></li>
            </ul>
        </a>
    </div>
</mat-toolbar>
