<app-filter-accordion [title]="'Sort'">
    <app-sort (selection)="onSortResultsBySelection($event)">
    </app-sort>
</app-filter-accordion>

<app-filter-accordion [title]="'Where to Watch'">
    <app-country-selector (selection)="onCountrySelected($event)"></app-country-selector>

    <app-providers [providers]="providers" (selections)="onProviderSelections($event)">
    </app-providers>
</app-filter-accordion>

<app-filter-accordion [title]="'Filters'">
    <div>
        <span>Release Dates</span>
        <app-date-from-to (selectedDates)="onReleaseDatesSelected($event)"></app-date-from-to>
    </div>

    <div>
        <span>Genres</span>
        <app-chip-list [chips]="genres" (selections)="onGenreSelections($event)"></app-chip-list>
    </div>

    <div>
        <span>Certification</span>
        <app-chip-list [chips]="certifications" (selections)="onCertificationSelections($event)"></app-chip-list>
    </div>


</app-filter-accordion>

<app-filter-submit (submit)="onSubmit()">

</app-filter-submit>