<app-filter-accordion [title]="'Sort'">
    <app-sort (selection)="onSortResultsBySelection($event)">
    </app-sort>
</app-filter-accordion>

<app-filter-accordion [title]="'Where to Watch'">
    <app-country-selector (selection)="onCountrySelected($event)"></app-country-selector>

    <app-providers [providers]="providers" (selections)="onProviderSelections($event)">
    </app-providers>
</app-filter-accordion>

<app-filter-accordion [title]="'Filters'">
    <app-date-from-to (selectedDates)="onReleaseDatesSelected($event)"></app-date-from-to>
</app-filter-accordion>

<app-filter-submit (submit)="onSubmit()">

</app-filter-submit>